<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <link href="../../static/css/header.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>

</head>
<body>
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="d-lg-block sidebar bg-white collapse show">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-lock fa-fw me-3"></i><span>Check</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>MyPage</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span>My Checks</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-lock fa-fw me-3"></i><span>Rank</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-chart-line fa-fw me-3"></i><span>Chat</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-pie fa-fw me-3"></i><span>Logout</span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
    
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation">
                    <img src="../../static/img/hamburger.png"/>
                </button>
    
                <!-- Brand -->
                <a class="navbar-brand" href="#">Working Time
                </a>
            </div>
            <!-- Container wrapper -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <p>달쌈</p>
            </ul>
        </nav>
        <!-- Navbar -->
    </header>
    <main style="margin-top: 58px">
        <div class="container pt-4">
            
        </div>
    </main>
    <section class="p-4 d-flex justify-content-center py-4 bgeee w-100">
        <div class="card text-center" style="width: 300px;">
            <div class="card-header h5 text-white bg-primary">Check</div>
            <div class="card-body px-5">
                <a href="#" class="btn btn-primary w-100">START</a>
            </div>
        </div>
    </section>
</body>
</html>