<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rank</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
</head>
<body>
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="sidebar bg-white" style="display: none;">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a href="/check/check" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-lock fa-fw me-3"></i><span>Check</span></a>
                    <a href="/mypage" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>MyPage</span>
                    </a>
                    <a href="/check/mycheck" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span>My Checks</span>
                    </a>
                    <a href="/rank" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-lock fa-fw me-3"></i><span>Rank</span></a>
                    <a href="/chat" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-chart-line fa-fw me-3"></i><span>Chat</span></a>
                    <a id="logout-btn" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-pie fa-fw me-3"></i><span>Logout</span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
    
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button id="menu-btn" style="background-color: rgba(0, 0, 0, 0); border: none">
                    <img src="/img/hamburger.png"/>
                </button>
    
                <!-- Brand -->
                <a class="navbar-brand" href="https://workingtime.kro.kr">Working Time
                </a>
            </div>
            <!-- Container wrapper -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <p></p>
            </ul>
        </nav>
        <!-- Navbar -->
    </header>
    <main style="margin-top: 58px; margin-left: 300px;">
        <div class="container pt-4">
            <section class="w-100 p-4 table-responsive">
                <div class="my-time-container">
                    <p class="my-time-text"></p>
                </div>
                <div class="company-time-container">
                    <p class="company-time-text"></p>
                </div>
                <div class="all-time-container">
                    <p class="all-time-text"></p>
                </div>
                <div class="btn-group shadow-0" role="group" aria-label="Basic example">
                    <button type="button" id="btn-asc" class="btn btn-outline-secondary bg-primary" data-mdb-color="dark">Ascending</button>
                    <button type="button" id="btn-desc" class="btn btn-outline-secondary" data-mdb-color="dark">Descending</button>
                </div>
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>Working Time</th>
                            <th>Company</th>
                        </tr>
                    </thead>
                    <tbody id="rank-list">
                    </tbody>
                </table>
            </section>
        </div>
    </main>
    <script src="/js/rank/rank.js"></script>
</body>
</html>