<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="sidebar bg-white" style="display: none;">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a href="/check/check" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-lock fa-fw me-3"></i><span>Check</span></a>
                    <a href="/mypage/mypage" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>MyPage</span>
                    </a>
                    <a href="/check/mycheck" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span>My Checks</span>
                    </a>
                    <a href="/rank/rank" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-lock fa-fw me-3"></i><span>Rank</span></a>
                    <a href="/chat/chat" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-chart-line fa-fw me-3"></i><span>Chat</span></a>
                    <a id="logout-btn" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-pie fa-fw me-3"></i><span>Logout</span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
    
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button id="menu-btn" style="background-color: rgba(0, 0, 0, 0); border: none">
                    <img src="/img/hamburger.png"/>
                </button>
    
                <!-- Brand -->
                <a class="navbar-brand" href="#">Working Time
                </a>
            </div>
            <!-- Container wrapper -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <p></p>
            </ul>
        </nav>
        <!-- Navbar -->
    </header>
    <main style="margin-top: 58px">
        <div class="container pt-4">
            <section class="p-4 d-flex justify-content-center py-4 bgeee w-100">
                <div>
                    <div>
                        <p class="company-name"></p>
                    </div>
                    <div class="chat-box" style="width: 300px; height: 500px;">
    
                    </div>
                    <div>
                        <input type="text" id="typeMessage">
                        <button class="message-type-btn">SEND</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    
    <script src="/js/check/check.js"></script>
</body>
</html>